body {
    font-family: 'Inter', sans-serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Playfair Display', serif;
    margin: 0 auto;
    padding: 0 auto;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.main-container {
    max-width: 1415px;
    margin: 0 auto;

}

button {
    cursor: pointer;
}


.header__wrapper {
    max-width: 1415px;
    width: 100%;
    margin: 0 auto;
    height: 129px;
    padding-top: 35px;
    margin-bottom: 38px;
}

.header__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 85px 0 109px;
    
}

.logo {
    margin-right: 500px;
}
.nav__menu {
    display: flex;
    flex-direction: row;
    
    
}
.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
}
.list-item {
    margin-right: 34px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #B8BECD;
}

.list-item:first-child {
    color: #202336;
    font-weight: 500;
}

.header__buttons {
    display: flex;
    justify-content: center;
    
}

.transparent-button {
    border-radius: 8px;
    border: 1px solid #FB8F1D;
    background: #fff;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 16px;
    color: #FB8F1D;
    text-align: center;
}

.colored-button {
    border-radius: 8px;
    border: 1px solid #fff;
    background: #FB8F1D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-align: center;
}

.login, .register {
    width: 132px;
    height: 44px;
}
.login {
    margin-right: 18px;
}

h1 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 80px;
    color: #202336;
    mix-blend-mode: normal;
    margin-bottom: 74px;
    margin-top: 0;
}

.main {
    margin: 0 auto;
}



.section1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    
}
.container {
    max-width: 1219px;
    margin: 0 auto;
    padding: 40px 0;
    
}
.circle {
    position: absolute;
    left: -110px;
    top: 300px;
}
.little-circle {
    position: absolute;
    top: 577px;
    right: -88px;
}

.right-column {
    margin: 52px 147px 43px 110px;
    position: relative;
}
.plus {
    position: absolute;
    top: 24px;
    right: -50px;
}
h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    color: #202336;
    margin: 0;
}
.section1__hr {
    width: 32px;
    height: 3px;
    background: #202336;
    border-radius: 4px;
    margin: 21px 0 48px;
}
.buttons-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 472px;
    height: 139px;
    justify-content: space-between;
    align-content: space-between;
}
.buttons {
    width: 220px;
    height: 52px;
    border: 0.8px solid #AFB0B9;
    border-radius: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #4A4C53;
    background: #fff;
    position: relative;
    text-align: start;
    padding-left: 31px;
}
.buttons:after {
    font-family: FontAwesome;
    content: '\f107';
    display: inline-block;
    position: absolute;
    left: 180px;
    
}

.explore {
    width: 180px;
    height: 52px;
    display: block;
    text-decoration: none;
    padding-top: 13px;
    margin-top: 47px;
    font-size: 16px;
}
.section2 {
    margin-top: 115px;
}

.section2-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-text {
    width: 450px;
    height: 534px;
    /* margin-left: 178px; */
    
}
.plus2 {
    position: absolute;
    left: 52%;
}
h2 {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin-top: 112px;

}
.text1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;

}
.learn {
    width: 164px;
    height: 48px;
    background: #FB8F1D;
    border-radius: 8px;
    border: 1px solid #FB8F1D;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    margin-top: 33px;
    margin-bottom: 92px;
}
.section-image {
    margin-left: 20px;
}
.section3 {
    width: 1219px;
    height: 518px;
    position: relative;
    margin: 0 auto;
    margin-bottom: 169px;
    margin-top: 170px;
}
.section3_h2_a {
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 49px 56px 49px;
}
.section3 h2 {
    margin: 0;
}
.view {
    text-decoration: none;
    color: #FB8F1D;
    font-family: 'Inter';
    font-style: normal;
    font-size: 17px;
    line-height: 60px;
}
.view::after {
    font-family: Fontawesome;
    content: '\f105';
    margin-left: 8px;

}
.photocards {
    margin: 0 49px 0 49px;
    display: flex;
    justify-content: space-between;
}
.plus3 {
    position: absolute;
    right: 101%;
    margin-top: 181px;
}
.little-circle2 {
    position: absolute;
    margin-top: 32%;
    left: 47%;

}
.section4 {
    margin: 0 auto;
}

.section4-content_box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.section4 h2 {
    margin-top: 132px;
}
.download {
    display: block;
    text-decoration: none;
    text-align: center;
    padding-top: 10px;
    width: 164px;
    height: 48px;
    margin-top: 33px;
    margin-bottom: 92px;
}
.section4 p {
    width: 450px;
    height: 90px;
    font-family: 'Muli';
    font-style: normal;
    font-weight: 300;
    font-size: 17px;
    line-height: 30px;
    color: #7D7987;

}
.content {
    margin: 0 49px 0 49px;
}
.little-circle3 {
    position: absolute;
    left: 33%;
    margin-top: 65px;
}
.plus4 {
    position: absolute;
    right: 27%;
    margin-top: 24px;
}
.plus5 {
    position: absolute;
    right: 53%;
    margin-top: 40px;
}

.section5 {
    width: 1219px;
    margin: 0 auto;
    padding: 0 130px 0 50px;
    margin-top: 24px;
}

.section5 h2 {
    font-family: 'Playfair Display';
    font-weight: 700;
    font-size: 36px;
    line-height: 50px;
    color: #000000;
    margin-bottom: 43px;
}

.section5__container {
    position: relative;   
}

.slider__buttons {
    width: 132px;
    height: 60px;
    background: #fff;
    border-radius: 16px 0px 0px 0px;
    position: absolute;
    display: flex;
    right: 4px;
    bottom: 10px;
    padding: 10px;
    z-index: 9;
    
}

.slider__prev {
    
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 25px;
}

.slider__next {
    
    display: block;
    width: 40px;
    height: 40px;
}

.avatar__circle {
    width: 42px;
    height: 42px;
    position: absolute;
    right: 9px;
    top: 6px;
    z-index: 9;
}

.avatar__plus {
    width: 32px;
    height: 32px;
    transform: rotate(8.17deg);
    position: absolute;
    z-index: 9;
    bottom: 6px;
    right: 361px;
}

.slider {
    width: 1051px;
    height: 532px;
    overflow: hidden;
    
    z-index: 5;
    
}
    
.slider-line {
    /* width: 1051px;
    height: 532px; */
    position: relative;
    /* z-index: 5; */
    display: flex;
    flex-direction: row;
    left: 0;
    
}
    
.comments-box {
    display: flex;
    justify-content: space-between;

    width: 1020px;
    margin-left: 20px;
}
.comments {
    width: 450px;
    height: 523px;
    padding: 103px 0 98px 0;
}

.rating {
    margin-bottom: 30px;
}

.comments__text {
    font-family: 'Mulish';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #000000;
    margin-bottom: 40px;
    
}

.signiture-1 {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 22px;
    line-height: 48px;
    color: #000000;
    margin: 0;
}

.signiture-2 {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    color: rgba(0, 0, 0, 0.85);
    margin: 0;
}

.avatar {
    width: 422px;
    height: 523px;
    margin-left: 175px;
    position: relative;
}

.avatar__img {
    margin: 23px 20px 9px 15px;
    border-radius: 4%;
    position: absolute;
    z-index: 1;
}



.section6 {
    width: 1219px;
    height: 613px;
    margin: 0 auto;
    margin-top: 206px;
    padding: 0 50px 0 50px;
    position: relative;
}

.section6__plus {
    position: absolute;
    top: -61px;
    left: 451px;
    transform: rotate(7.49deg);
}

.section6__h2_a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 61px 0 56px 0;

}

.section6__h2_a h2 {
    margin: 0;
}

.section6__h2_a a {
    text-decoration: none;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 17px;
    line-height: 60px;
    color: #FB8F1D;
}

.section6__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

figure {
    margin: 0;
    width: 266px;
    height: 446px;

}

figure img {
    width: 258px;
    height: 232px;
    border-radius: 12px 12px 0 0;
}

figure p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;

}

figure span {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    line-height: 28px;
    color: #FB8F1D;
    text-decoration: none;
    cursor: pointer;
}

figcaption {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    margin-bottom: 13px;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;

}

.modal-body {
    background: #fff;
    width: 800px;
    max-width: 100%;
    padding: 20px;
    position: relative;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
}

.modal-close {
    position: absolute;
    top: 20px;
    left: 92%;
}

.modal-content h4 {
    margin-top: 0;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 19px;
    line-height: 30px;
    color: #000000;
    text-align: center;
}

.modal-colomns {
    display: flex;
    align-items: flex-start;
   
}

.modal-image {
    margin-right: 20px;
}

.modal-text p {
    margin: 0;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 15px;
    line-height: 26px;
    color: #7D7987;
}

.section6__littlecircle {
    position: absolute;
    top: 360px;
    left: -60px;
}

.footer {
    background: #F9F9FB;
    width: 100%;
   
    margin: 0 auto;
    margin-top: 140px;
}

.footer__container {
    max-width: 1415px;
    height: 480px;
    margin: 0 auto;
}

.footer__container li {
    list-style: none;
    line-height: 38px;
}

.footer__container ul {
    padding: 0;
    margin: 0;
}

.footer__content {
    width: 1219px;
    padding-top: 78px;
    margin: 0 85px 0 110px;
    display: flex;
    justify-content: space-between;
    font-family: 'Mulish';
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
    color: #848484;
}

.footer__content h3 {
    font-family: 'Mulish';
    font-weight: 700;
    font-size: 19px;
    line-height: 48px;
    color: #000000;
}

.footer__content_main-info {
    width: 360px;
    height: 241px;
}

.footer__info {
    margin-bottom: 55px;
}

.footer__destinations {
    width: 164px;
    height: 241px;
}

.footer__shop {
    width: 164px;
    height: 241px;
}

.footer__interests {
    width: 164px;
    height: 241px;
}

.footer__hr {
    width: 1219px;
    height: 0.6px;
    background: #C4C4C4;
    margin: 77px 85px 30px 110px;
    
}

.footer__social-icons {
    margin: 0 auto;
    width: 248px;
    margin-bottom: 32px;
}

.footer__icons-list {
    display: flex;
    flex-direction: row;
   justify-content: space-between;
}


.footer__icons-item img {
    transform: rotate(0deg) scale(1); 
    transition: transform 0.3s ease; 
}

.footer__icons-item:hover img {
    transform: rotate(360deg) scale(1.5); 
}


